#add-ons.add-ons
	.container
		.row
			.col-xs-12.col-md-5
				h2 Add-ons to customize your site

				ul.add-ons-list
					li
						svg.rocket-icon(width="20px", height="40px")
							use(xlink:href="#rocket")
						| New Biz starter pack
					li
						svg.copyrighting-icon(width="35px", height="40px")
							use(xlink:href="#translation")
						| Translation
					li
						svg.copyrighting-icon(width="35px", height="40px")
							use(xlink:href="#copywriting")
						| Copywriting
					li
						svg.email-icon(width="35px", height="35px")
							use(xlink:href="#email")
						| Emails
			.col-xs-12.col-md-offset-1.col-md-5
				img.add-ons-image(src="assets/images/laptop.png")