#contacts.contacts-section
	.container
		.row
			.col-xs-12.col-sm-6.col-md-5
				h2.section-title
					| Contact us
				form.form
					.form-group
						input.form-control(type="text", name="name", required, placeholder="Name *")
					.form-group
						input.form-control(type="email", name="email", required, placeholder="Email *")
					.form-group
						input.form-control(type="text", name="phone", required, placeholder="Phone number *")
					.form-group
						textarea.form-control(row="5", name="message", placeholder="Message")
					input.btn(type="submit", value="Send")

	.map-wrapper
		iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103324.3519592035!2d144.95854028312723!3d-37.82529067660524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne+VIC%2C+Australia!5e0!3m2!1sen!2sua!4v1502777275112", width="100px", height="100px", frameborder="0", style="border:0", allowfullscreen)
