link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
<!-- removeIf(build) -->
<!-- build:js css/assets.css -->

<!-- bower:css -->
<!-- endbower -->

<!-- endbuild -->
<!-- endRemoveIf(build) -->

<!-- build:js css/style.css -->
<!-- inject:css -->
<!-- endinject -->
<!-- endbuild -->
link(href="https://fonts.googleapis.com/css?family=Prompt:400,600,700,900", rel="stylesheet")
