
.hero
	img.hero-image(src="assets/images/hero.jpg")
	a.hero-logo
		include _logo-svg.pug
	.half
	.container
		.row
			.col-xs-12.col-md-6.col-md-offset-6.hero-wrap
				.hero-inner
					p we marketing firm
					h1 specialized in <mark>web site </mark> creating
					p and getting your business noticed
	include _nav.pug