svg.logo(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 256.77 136.24")
	path(d="M18.28,135c-5.31,0-9.53-1.59-12.53-4.72s-4.5-7.53-4.5-13.11V87.68A1.25,1.25,0,0,1,2.5,86.43H18.12a1.25,1.25,0,0,1,1.25,1.25v24.73a13.13,13.13,0,0,0,1.1,6.11,3.13,3.13,0,0,0,3,1.63,4.76,4.76,0,0,0,4.65-2.52c1-1.92,1.57-5.33,1.57-10.13V87.68A1.25,1.25,0,0,1,31,86.43H46.6a1.25,1.25,0,0,1,1.25,1.25v45.26a1.25,1.25,0,0,1-1.25,1.25H34.82a1.25,1.25,0,0,1-1.18-.84l-1.46-4.2A14.14,14.14,0,0,1,27,133.21,20.31,20.31,0,0,1,18.28,135Z" style="fill:#e74138")
	path(d="M46.6,87.68v45.26H34.82l-2-5.63h-.92a12.71,12.71,0,0,1-5.45,4.77,19,19,0,0,1-8.21,1.66q-7.47,0-11.62-4.34T2.5,117.16V87.68H18.12v24.73a14.21,14.21,0,0,0,1.26,6.71,4.36,4.36,0,0,0,4.13,2.28,6,6,0,0,0,5.75-3.17Q31,115,31,107.49V87.68H46.6m0-2.5H31a2.5,2.5,0,0,0-2.5,2.5v19.81c0,5.72-.77,8.34-1.42,9.54-.5.92-1.31,1.86-3.55,1.86a1.88,1.88,0,0,1-1.95-1c-.43-.78-.95-2.37-.95-5.5V87.68a2.5,2.5,0,0,0-2.5-2.5H2.5A2.5,2.5,0,0,0,0,87.68v29.48c0,5.91,1.63,10.62,4.85,14s7.76,5.1,13.43,5.1a21.54,21.54,0,0,0,9.28-1.9,15.77,15.77,0,0,0,4.13-2.8l.77,2.22a2.5,2.5,0,0,0,2.36,1.68H46.6a2.5,2.5,0,0,0,2.5-2.5V87.68a2.5,2.5,0,0,0-2.5-2.5Z" style="fill:#fff")
	path(d="M79.24,135a18.24,18.24,0,0,1-4.81-.58,14.55,14.55,0,0,1-3.83-1.64A17.57,17.57,0,0,1,67.35,130l-2,3.58a1.25,1.25,0,0,1-1.09.64H52.07a1.25,1.25,0,0,1-1.25-1.25V70.78a1.25,1.25,0,0,1,1.25-1.25H67.69a1.25,1.25,0,0,1,1.25,1.25V84.84c0,1.21-.09,3-.28,5.37a13.81,13.81,0,0,1,3.7-2.88,15.69,15.69,0,0,1,7.35-1.7,14.84,14.84,0,0,1,12.75,6.73c3,4.32,4.56,10.33,4.56,17.85s-1.55,13.63-4.6,18A15.27,15.27,0,0,1,79.24,135ZM74,100.39a4.14,4.14,0,0,0-3.75,1.72c-.87,1.3-1.31,3.48-1.31,6.46v2.2c0,3.45.45,5.9,1.33,7.3a4.2,4.2,0,0,0,3.9,1.83,3.38,3.38,0,0,0,3.13-2.15c.89-1.69,1.33-4.28,1.33-7.71C78.63,100.39,75.15,100.39,74,100.39Z" style="fill:#e74138")
	path(d="M67.69,70.78V84.84q0,2.52-.56,8.67h.56a13.32,13.32,0,0,1,12-6.63,13.6,13.6,0,0,1,11.72,6.19q4.34,6.19,4.34,17.14T91.4,127.49a14,14,0,0,1-12.16,6.25,16.93,16.93,0,0,1-4.47-.54,13.22,13.22,0,0,1-3.5-1.5,18.37,18.37,0,0,1-3.58-3.2h-1l-2.48,4.43H52.07V70.78H67.69m6.47,50.38a4.61,4.61,0,0,0,4.23-2.82q1.48-2.82,1.48-8.29,0-10.91-5.87-10.91a5.35,5.35,0,0,0-4.79,2.28q-1.52,2.28-1.52,7.15v2.2q0,5.55,1.52,8a5.4,5.4,0,0,0,5,2.42M67.69,68.28H52.07a2.5,2.5,0,0,0-2.5,2.5v62.16a2.5,2.5,0,0,0,2.5,2.5H64.26a2.5,2.5,0,0,0,2.18-1.28l1.2-2.15a15.6,15.6,0,0,0,2.31,1.81,15.77,15.77,0,0,0,4.16,1.79,19.48,19.48,0,0,0,5.14.63,16.46,16.46,0,0,0,14.21-7.32c3.2-4.58,4.83-10.87,4.83-18.71s-1.61-14-4.79-18.57a16,16,0,0,0-13.77-7.26,16.92,16.92,0,0,0-7.93,1.84,13.84,13.84,0,0,0-1.67,1c.05-1,.08-1.77.08-2.41V70.78a2.5,2.5,0,0,0-2.5-2.5Zm6.47,50.38c-1.82,0-2.47-.67-2.84-1.25s-1.14-2.44-1.14-6.64v-2.2c0-3.4.6-5,1.1-5.76.36-.54,1-1.16,2.71-1.16,2.24,0,3.37,2.83,3.37,8.41,0,4-.65,6.09-1.19,7.13-.68,1.3-1.37,1.48-2,1.48Z" style="fill:#fff")
	rect(x="98.2" y="86.43" width="18.12" height="47.76" rx="1.25" ry="1.25" style="fill:#e74138")
	path(d="M115.07,87.68v45.26H99.45V87.68h15.62m0-2.5H99.45a2.5,2.5,0,0,0-2.5,2.5v45.26a2.5,2.5,0,0,0,2.5,2.5h15.62a2.5,2.5,0,0,0,2.5-2.5V87.68a2.5,2.5,0,0,0-2.5-2.5Z" style="fill:#fff")
	path(d="M160.52,134.19a1.25,1.25,0,0,1-1.19-.86l-9.51-29c-.39-1.24-.83-2.82-1.35-4.77l-1.5,4.83-9.68,29a1.25,1.25,0,0,1-1.19.85H132.2a1.25,1.25,0,0,1-1.2-.91L118.57,89.86a1.25,1.25,0,0,1,1.2-1.59H124a1.25,1.25,0,0,1,1.21.92l7,25.17c.92,3.53,1.67,6.55,2.23,9,1-3.71,1.72-6.28,2.25-7.81l8.94-26.47a1.25,1.25,0,0,1,1.18-.85h3.6a1.25,1.25,0,0,1,1.19.87l8.51,26.41c1,3.12,1.72,5.7,2.31,7.75.53-2.32,1.28-5.36,2.24-9.16l6.64-24.94a1.25,1.25,0,0,1,1.21-.93h4a1.25,1.25,0,0,1,1.21,1.58l-11.79,43.42a1.25,1.25,0,0,1-1.21.92Z" style="fill:#08262d")
	path(d="M176.46,89.52l-11.79,43.42h-4.15l-9.51-29q-.92-3-2.36-8.67h-.24l-.84,3-1.8,5.79-9.67,29H132.2L119.77,89.52H124l7,25.17q2.44,9.35,3.2,13.74h.24q2.36-9.35,3.44-12.42l8.95-26.49h3.6l8.51,26.41q2.88,9.39,3.52,12.42h.24q.32-2.6,3.2-13.9l6.63-24.93h4m0-2.5h-4A2.5,2.5,0,0,0,170,88.87l-6.63,24.93q-.64,2.53-1.16,4.63-.45-1.51-1-3.24l-8.52-26.44A2.5,2.5,0,0,0,150.37,87h-3.6a2.5,2.5,0,0,0-2.37,1.7l-8.95,26.49c-.27.78-.6,1.83-1,3.16q-.5-2-1.1-4.31l-7-25.2A2.5,2.5,0,0,0,124,87h-4.24a2.5,2.5,0,0,0-2.4,3.19l12.43,43.42a2.5,2.5,0,0,0,2.4,1.81h3.91a2.5,2.5,0,0,0,2.37-1.71l9.67-29,0-.05.24-.78.22.71,9.52,29.08a2.5,2.5,0,0,0,2.38,1.72h4.15a2.5,2.5,0,0,0,2.41-1.85l11.79-43.42A2.5,2.5,0,0,0,176.46,87Zm0,5h0Z" style="fill:#fff")
	path(d="M197.19,135c-6.65,0-11.93-2.1-15.69-6.24s-5.62-9.89-5.62-17.18,1.82-13.05,5.4-17.43A18.15,18.15,0,0,1,196,87.43c5.48,0,9.88,2,13.07,5.81s4.72,8.94,4.72,15.34v3.2a1.25,1.25,0,0,1-1.25,1.25h-30c.22,5,1.51,8.91,3.83,11.59,2.5,2.88,6,4.28,10.78,4.28a35.19,35.19,0,0,0,6.3-.5,38.59,38.59,0,0,0,6.9-2.17,1.25,1.25,0,0,1,1.71,1.16V131a1.25,1.25,0,0,1-.75,1.15,33.08,33.08,0,0,1-7.06,2.26A39.1,39.1,0,0,1,197.19,135Zm9.91-28c-.17-4.14-1.17-7.43-3-9.79A9.54,9.54,0,0,0,196,93.44a11.72,11.72,0,0,0-9.15,3.73c-2.11,2.3-3.44,5.6-4,9.83Z" style="fill:#08262d")
	path(d="M196,88.68q7.67,0,12.1,5.35t4.43,14.54v3.2H181.29q.08,9,4.17,13.66t11.73,4.71a36.26,36.26,0,0,0,6.53-.52,39.58,39.58,0,0,0,7.13-2.24V131a31.68,31.68,0,0,1-6.79,2.18,37.71,37.71,0,0,1-6.87.58q-9.47,0-14.76-5.83t-5.3-16.34q0-10.39,5.12-16.64T196,88.68m-14.5,19.58h26.85q0-7.55-3.28-11.8A10.81,10.81,0,0,0,196,92.19,13,13,0,0,0,186,96.33q-3.8,4.14-4.43,11.92M196,86.18c-6.54,0-11.83,2.41-15.72,7.17s-5.68,10.74-5.68,18.22,2,13.68,5.95,18,9.59,6.65,16.61,6.65a40.35,40.35,0,0,0,7.33-.62,34.31,34.31,0,0,0,7.33-2.34,2.5,2.5,0,0,0,1.5-2.29v-3.6a2.5,2.5,0,0,0-3.42-2.32,37.41,37.41,0,0,1-6.66,2.1,34,34,0,0,1-6.08.48c-4.37,0-7.59-1.26-9.84-3.85-1.94-2.23-3.09-5.42-3.44-9.52h28.66a2.5,2.5,0,0,0,2.5-2.5v-3.2c0-6.7-1.69-12.13-5-16.14s-8.16-6.26-14-6.26Zm-11.66,19.58A15.17,15.17,0,0,1,187.81,98,10.53,10.53,0,0,1,196,94.69,8.36,8.36,0,0,1,203.12,98a14.72,14.72,0,0,1,2.65,7.78Z" style="fill:#fff")
	path(d="M235.78,135a19.27,19.27,0,0,1-8.92-2.06,16,16,0,0,1-4.86-3.82l-.69,4a1.25,1.25,0,0,1-1.23,1H217.6a1.25,1.25,0,0,1-1.25-1.25V70.78a1.25,1.25,0,0,1,1.25-1.25h4a1.25,1.25,0,0,1,1.25,1.25V86.4c0,2.31-.05,4.45-.15,6.36a15.75,15.75,0,0,1,4.29-3.35,19.16,19.16,0,0,1,9-2c6.44,0,11.38,2.09,14.7,6.2s4.89,9.94,4.89,17.54-1.73,13.37-5.14,17.49S242,135,235.78,135Zm.08-41.47c-4.68,0-8,1.31-10,3.9s-3.06,7.32-3.06,13.75v.68c0,6.23,1.07,10.71,3.18,13.32s5.28,3.81,9.8,3.81c4.36,0,7.53-1.46,9.69-4.46s3.36-7.6,3.36-13.43C248.83,99.27,244.59,93.52,235.86,93.52Z" style="fill:#08262d")
	path(d="M221.55,70.78V86.4q0,3.52-.16,6.47l-.12,3.4h.28a15.85,15.85,0,0,1,6-5.75,17.86,17.86,0,0,1,8.41-1.84q9.11,0,13.72,5.73t4.61,16.76q0,10.83-4.86,16.7t-13.64,5.87a18,18,0,0,1-8.35-1.92,14.64,14.64,0,0,1-5.87-5.43h-.36l-1.12,6.55H217.6V70.78h4m14.22,59.44q7.11,0,10.71-5t3.6-14.16q0-18.82-14.22-18.82-7.67,0-11,4.39t-3.32,14.5v.68q0,9.83,3.46,14.1t10.77,4.28M221.55,68.28h-4a2.5,2.5,0,0,0-2.5,2.5v62.16a2.5,2.5,0,0,0,2.5,2.5h2.48a2.5,2.5,0,0,0,2.46-2.08l.28-1.65a17.61,17.61,0,0,0,3.46,2.33,20.51,20.51,0,0,0,9.5,2.2c6.61,0,11.85-2.28,15.57-6.78s5.43-10.51,5.43-18.29S255,97.11,251.61,92.84c-3.56-4.42-8.84-6.67-15.67-6.67a20.39,20.39,0,0,0-9.57,2.13A16.2,16.2,0,0,0,224,89.81c0-1.08,0-2.22,0-3.41V70.78a2.5,2.5,0,0,0-2.5-2.5Zm14.22,59.44c-4.12,0-7-1.09-8.82-3.35s-2.9-6.59-2.9-12.53v-.68c0-6.15.95-10.52,2.81-13,1.73-2.29,4.67-3.4,9-3.4,5,0,11.72,1.69,11.72,16.32,0,5.56-1.05,9.83-3.12,12.7-1.92,2.65-4.75,3.94-8.68,3.94Z" style="fill:#fff")
	path(d="M107.45,30.93a9.88,9.88,0,1,1,9.88-9.87A9.89,9.89,0,0,1,107.45,30.93Z" style="fill:#20859d;fill-rule:evenodd")
	path(d="M107.45,11.68a9.38,9.38,0,1,1-9.38,9.38,9.37,9.37,0,0,1,9.38-9.38m0-1a10.38,10.38,0,1,0,10.38,10.38,10.39,10.39,0,0,0-10.38-10.38Z" style="fill:#fff")
	path(d="M107.54,11.24A9.73,9.73,0,1,0,117.27,21,9.73,9.73,0,0,0,107.54,11.24Zm0,69.47c-5.9-34.86-22-45.59-22-57.73a22,22,0,0,1,44,0C129.52,35.12,113.33,45.64,107.54,80.71Z" style="fill:#e74138;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill-rule:evenodd")