nav#nav.nav(role="site-navigation")
	.container
		.row
			.col-xs-12.col-md-3
				a(href="#").nav-logo
					include _logo-svg.pug
			.col-xs-12.col-md-9
				svg#menu-burger.burger(width="40px", height="40px")
					use(xlink:href="#burger")
				ul.nav-menu
					li
						a(href="#what-is") Whatisubiweb?
					li
						a(href="#why-ubiweb") Whyubiweb?
					li
						a(href="#packages") Packages
					li
						a(href="#add-ons") Add-ons
					li
						a(href="#testimonial") Testimonials
					li
						a(href="#contacts") Contacts