#packages.packages-section
	.container
		.row.no-gutter
			.col-xs-12.col-sm-4
				.package
					.package-header
						h3 Bronze
					.package-price <sup>$</sup>97
						span per month
					ul.package-list
						li 3 Page
						li Design
						li Responsive
			.col-xs-12.col-sm-4
				.package.package-best
					.package-header
						h3 Silver
					.package-price <sup>$</sup>157
						span per month
					ul.package-list
						li 3 Page
						li Design
						li Responsive

			.col-xs-12.col-sm-4
				.package
					.package-header
						h3 Gold
					.package-price <sup>$</sup>237
						span per month
					ul.package-list
						li 3 Page
						li Design
						li Responsive