svg(style="display:none;")
	symbol(id="arrow-right" viewBox="0 0 129 129")
		path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
	symbol(id="arrow-left" viewBox="0 0 129 129")
		path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
	symbol(id="rocket", viewBox="0 0 205.84 392.02")
		path(d="M441.32,716.22c6.32-70.08-18.16-141.52-69.52-192.88a8.56,8.56,0,0,0-11.76,0c-51.36,51.36-75.84,122.72-69.52,192.88a102.72,102.72,0,0,0,.88,140.88c4.48,4.72,15.92,2.56,14.08-7.84-1-5.44-2.16-10.72-2.16-15.92a61.87,61.87,0,0,1,11.2-35.68,8.48,8.48,0,0,0,4,1h94.8a8.48,8.48,0,0,0,4-1,61.87,61.87,0,0,1,11.2,35.68c0,5.2-1.36,10.4-2.16,15.92-1.68,11.52,10.32,11.92,14.08,7.84a102.72,102.72,0,0,0,.88-140.88Zm-75.44-175a222.48,222.48,0,0,1,36.48,53.12H329.48a218.46,218.46,0,0,1,36.4-53.12Zm-78.4,280.8a86.43,86.43,0,0,1,6.24-83c.08.64,8.8,34,12.16,42.56a77.7,77.7,0,0,0-18.4,40.4ZM407.8,782H324c-23.52-55.2-23.28-116.88-1.92-171h87.68c21.36,54.16,21.6,115.84-1.92,171Zm18.16-.32c4.64-11.92,12.08-42.08,12.16-42.56a85.25,85.25,0,0,1,14,47.12,86.68,86.68,0,0,1-7.76,35.84,79,79,0,0,0-18.4-40.4Zm0,0" transform="translate(-263 -521)")
		path(d="M332.2,812.62a8.31,8.31,0,0,0-8.32,8.32v41.84a8.32,8.32,0,1,0,16.64,0V820.94a8.31,8.31,0,0,0-8.32-8.32Zm0,0" transform="translate(-263 -521)")
		path(d="M365.88,812.62A8.32,8.32,0,0,0,360,815.1l-.08.08a8.39,8.39,0,0,0-2.08,3.68,10.09,10.09,0,0,0-.32,2.24v83.6a7.91,7.91,0,0,0,.24,1.92,8.3,8.3,0,0,0,16.16,0,7.91,7.91,0,0,0,.24-1.92V820.94a7,7,0,0,0-.32-2.24,8.09,8.09,0,0,0-7.92-6.08Zm0,0" transform="translate(-263 -521)")
		path(d="M399.56,812.62a8.32,8.32,0,0,0-8.32,8.32v41.84a8.32,8.32,0,1,0,16.64,0V820.94a8.21,8.21,0,0,0-8.32-8.32Zm0,0" transform="translate(-263 -521)")
	symbol(id="copywriting", viewBox="0 0 375.46 409.6")
		path(d="M500.07,795.31l-38.2,54.88-27-22.13a6.82,6.82,0,1,0-8.66,10.55l32.67,26.82a6.78,6.78,0,0,0,4.33,1.55,6.37,6.37,0,0,0,.94-.07,6.83,6.83,0,0,0,4.67-2.86l42.42-61a6.83,6.83,0,0,0-11.21-7.79Zm0,0" transform="translate(-178 -512)")
		path(d="M471.55,744.45V559.79a6.82,6.82,0,0,0-6.83-6.82H410.1V539.31a6.82,6.82,0,0,0-6.82-6.83h-41V518.83a6.82,6.82,0,0,0-6.83-6.83H294.05a6.82,6.82,0,0,0-6.83,6.83v13.65h-41a6.83,6.83,0,0,0-6.83,6.83V553H184.83a6.82,6.82,0,0,0-6.83,6.82V901.12a6.82,6.82,0,0,0,6.83,6.82H417.64a88.66,88.66,0,1,0,53.9-163.49ZM300.88,525.65h47.79V553H300.88Zm-47.79,20.48h34.13v13.65a6.82,6.82,0,0,0,6.83,6.83h61.44a6.82,6.82,0,0,0,6.83-6.83V546.13h34.13v27.31H253.09ZM191.65,894.29V566.61h47.79v13.65a6.82,6.82,0,0,0,6.83,6.83h157a6.82,6.82,0,0,0,6.82-6.83V566.61h47.79V744.37c-.39,0-.77.11-1.16.14-1.33.13-2.64.32-4,.5-1.56.21-3.13.42-4.67.71-1.32.25-2.6.57-3.9.87-1.5.35-3,.72-4.45,1.15-1.28.38-2.53.8-3.78,1.24-1.43.49-2.85,1-4.25,1.57-1.22.49-2.43,1-3.62,1.57-1.37.62-2.71,1.26-4,1.95-1.17.6-2.32,1.23-3.45,1.89s-2.55,1.5-3.79,2.3-2.19,1.44-3.25,2.2-2.38,1.74-3.54,2.66-2,1.62-3,2.46-2.22,2-3.29,3-1.86,1.78-2.77,2.71-2,2.18-3,3.31c-.84,1-1.69,1.93-2.49,2.94-.94,1.18-1.82,2.39-2.7,3.61-.74,1-1.5,2.06-2.2,3.14-.84,1.27-1.6,2.59-2.38,3.91-.64,1.09-1.29,2.16-1.88,3.28-.73,1.39-1.38,2.81-2,4.23-.52,1.13-1.07,2.23-1.55,3.39-.61,1.5-1.14,3-1.67,4.56-.4,1.14-.84,2.27-1.2,3.42-.5,1.64-.88,3.32-1.28,5-.27,1.11-.59,2.2-.82,3.33-.37,1.88-.62,3.8-.87,5.72-.13,1-.32,1.91-.42,2.89a84.4,84.4,0,0,0-.46,8.87,87.14,87.14,0,0,0,.45,8.83c.1,1.11.32,2.17.48,3.27.25,1.8.47,3.59.82,5.36.24,1.2.58,2.36.87,3.54.39,1.63.76,3.27,1.25,4.88.34,1.09.75,2.14,1.13,3.21.57,1.66,1.14,3.32,1.82,4.95.38.91.82,1.77,1.23,2.66.78,1.73,1.58,3.46,2.48,5.14.4.73.84,1.43,1.26,2.15,1,1.77,2,3.52,3.17,5.21.41.62.87,1.21,1.3,1.82,1.2,1.71,2.43,3.4,3.76,5,.49.6,1,1.16,1.53,1.75,1.06,1.23,2.07,2.49,3.19,3.66Zm273.07,13.65a74.46,74.46,0,0,1-48.32-17.7c-.74-.62-1.43-1.3-2.15-2-1.34-1.22-2.65-2.48-3.89-3.78-.8-.84-1.57-1.7-2.33-2.56-1.12-1.28-2.17-2.62-3.19-4-.66-.87-1.33-1.72-2-2.61a76.38,76.38,0,0,1-4.2-6.78c-.3-.55-.53-1.13-.81-1.68-1-1.95-1.93-3.93-2.75-6-.36-.89-.66-1.8-1-2.7-.65-1.79-1.23-3.6-1.74-5.43-.26-.95-.51-1.89-.74-2.86-.46-1.94-.81-3.92-1.11-5.9-.13-.86-.29-1.7-.39-2.56a77.25,77.25,0,0,1-.54-8.64,75.09,75.09,0,1,1,75.09,75.09Zm0,0" transform="translate(-178 -512)")
		path(d="M225.78,634.88h88.75a6.83,6.83,0,0,0,0-13.65H225.78a6.83,6.83,0,0,0,0,13.65Zm0,0" transform="translate(-178 -512)")
		path(d="M314.53,826H225.78a6.83,6.83,0,0,0,0,13.65h88.75a6.83,6.83,0,0,0,0-13.65Zm0,0" transform="translate(-178 -512)")
		path(d="M225.78,675.84h198a6.83,6.83,0,0,0,0-13.65h-198a6.83,6.83,0,0,0,0,13.65Zm0,0" transform="translate(-178 -512)")
		path(d="M225.78,757.76H389.63a6.83,6.83,0,0,0,0-13.66H225.78a6.83,6.83,0,0,0,0,13.66Zm0,0" transform="translate(-178 -512)")
		path(d="M355.49,785.07H225.78a6.83,6.83,0,0,0,0,13.65H355.49a6.83,6.83,0,1,0,0-13.65Zm0,0" transform="translate(-178 -512)")
		path(d="M225.78,716.8h95.57a6.83,6.83,0,1,0,0-13.65H225.78a6.83,6.83,0,0,0,0,13.65Zm0,0" transform="translate(-178 -512)")
		path(d="M423.76,703.15H376a6.83,6.83,0,0,0,0,13.65h47.79a6.83,6.83,0,0,0,0-13.65Zm0,0" transform="translate(-178 -512)")
		path(d="M343.82,705.13a6.85,6.85,0,0,0,9.69,9.7,6.85,6.85,0,0,0-9.69-9.7Zm0,0" transform="translate(-178 -512)")
	symbol(id="email", viewBox="0 0 409.6 232.11")
		path(d="M461.38,730.8a27.31,27.31,0,0,0-54.61,0v13.65a27.24,27.24,0,0,0,43,22.32,20.43,20.43,0,0,0,39-8.66V730.8a54.61,54.61,0,0,0-109.23,0v20.48a54.68,54.68,0,0,0,54.61,54.61H468.2a20.5,20.5,0,0,0,20.48-20.48H475a6.83,6.83,0,0,1-6.83,6.83H434.07a41,41,0,0,1-41-41V730.8a41,41,0,1,1,81.92,0V758.1a6.83,6.83,0,0,1-13.65,0Zm-13.66,13.65a13.65,13.65,0,1,1-27.31,0V730.8a13.65,13.65,0,1,1,27.31,0Zm0,0" transform="translate(-161 -601.09)")
		path(d="M570.6,614.75V601.09H167.83a6.82,6.82,0,0,0-6.83,6.83V799.06a34.17,34.17,0,0,0,34.13,34.14H481.85A34.17,34.17,0,0,0,516,799.06V669.36h13.65V655.7H516V642.05h34.13V628.4H516V614.75Zm-89.36,0L338.49,689,195.75,614.75Zm21.09,184.32a20.5,20.5,0,0,1-20.48,20.48H195.13a20.51,20.51,0,0,1-20.48-20.48V619.16l160.7,83.56a6.79,6.79,0,0,0,6.29,0l160.69-83.56Zm0,0" transform="translate(-161 -601.09)")
		rect(x="27.31" y="191.15" width="13.65" height="13.65")
		rect(x="54.61" y="191.15" width="13.65" height="13.65")
		rect(x="81.92" y="191.15" width="13.65" height="13.65")
	symbol(id="translation", viewBox="0 0 409.6 409.6")
		path(d="M550.89,629A6,6,0,0,0,540,634.17,192.88,192.88,0,0,1,279,889a194.69,194.69,0,0,1-59.46-46.6l23.67,7.89A6,6,0,0,0,247,838.91l-42.6-14.2a6,6,0,0,0-7.84,6.54l7.1,49.7a6,6,0,0,0,5.93,5.15,5.8,5.8,0,0,0,.85-.06,6,6,0,0,0,5.09-6.78l-4-27.73a206.84,206.84,0,0,0,62,48.19A204.88,204.88,0,0,0,550.89,629Zm0,0" transform="translate(-161 -512)")
		path(d="M535,602.35l-7.1-49.7a6,6,0,1,0-11.88,1.7l4,27.7A204.84,204.84,0,0,0,180.71,804.58a6,6,0,0,0,10.84-5.15,192.82,192.82,0,0,1,320.5-208.23l-23.66-7.88a6,6,0,1,0-3.8,11.38l42.6,14.2a6,6,0,0,0,7.84-6.54Zm0,0" transform="translate(-161 -512)")
		path(d="M333.11,626.46a6,6,0,0,0-6-5.91H327a6,6,0,0,0-5.91,6.09l.17,11-4.45,4.23a6,6,0,1,0,8.27,8.7l6.35-6a6,6,0,0,0,1.87-4.45Zm0,0" transform="translate(-161 -512)")
		path(d="M483.37,618.1a6,6,0,0,0-9.18,7.73A140.77,140.77,0,0,1,505.3,693l-1.8-1.77a16.16,16.16,0,0,0-25,2.9l-1,1.63a11.06,11.06,0,0,0-7.74,3l-7.9-9.35a6,6,0,0,0-9.17,7.74l12.08,14.3a6,6,0,0,0,8.79.4l3.87-3.82,4.76,3.3-17.86,35.45-1,.07a4.18,4.18,0,0,1-3.53-1.51l-23.77-29a6,6,0,0,0-9.28,7.61l23.77,29a16.17,16.17,0,0,0,13.69,5.87l7.73-.57-23.64,54.66a44.79,44.79,0,0,1-6.77,11l-18.87,22.55a141.07,141.07,0,0,1-29.47,9.23l-10.41-9a4.15,4.15,0,0,1-1.29-4.41l1.82-5.86a6,6,0,0,0-2.15-6.59L369.42,821a4.19,4.19,0,0,1-1.65-3.86l1-7.67a6,6,0,0,0-5.44-6.72l-53.5-4.62a9.31,9.31,0,0,1-5.63-2.56l-16-15.47a9.29,9.29,0,0,1-2.82-6.66V751.07a4.15,4.15,0,0,1,1-2.74l18.25-20.85a6,6,0,0,0,1.48-3.73l.19-5.07a4.19,4.19,0,0,1,2.48-3.66L323,708.73l26.82-.66a1.25,1.25,0,0,1,1.24,1.07A13.18,13.18,0,0,0,360,719.58l19.18,6.4A10.6,10.6,0,0,0,393,714.52l24.09-1.91a16.17,16.17,0,0,0,14.57-19.29l-.68-3.39a11.07,11.07,0,0,0-11.8-8.87l-12.61,1.06-1.9-2.14,16.66-16.66a6,6,0,0,0-8.48-8.49L392.7,675l-6.78,2.85-18.86-14.39a6,6,0,0,0-5.46-.95l-26.2,8.37a15.56,15.56,0,0,0-2.18.88l1.85-7.84,20.74-15.19,21.41-3.17a6,6,0,0,0,5.06-5.1l2.44-17.27a6,6,0,0,0-1.24-4.56l-8.79-11.12a6,6,0,0,0-9.62.28l-6.71,9.57-7-.57L363,594.54H375.1L384.23,611a6,6,0,0,0,10.76-.55l8.43-19.74a11.05,11.05,0,0,0-1-10.61,140.73,140.73,0,0,1,54.4,28.34,6,6,0,0,0,7.73-9.18A153.51,153.51,0,0,0,248.23,815.5a6,6,0,1,0,9.18-7.73A141.5,141.5,0,0,1,360,575.42a142.56,142.56,0,0,1,24,1.06l8.14,10-3.4,8-4.9-8.82a6,6,0,0,0-5.25-3.09H359.39a6,6,0,0,0-5.31,3.21l-13.51,25.76A11.79,11.79,0,0,0,350,628.75l10.77.88a6,6,0,0,0,5.4-2.54l4.06-5.79,2.2,2.79L371,634.36l-18.44,2.73a6,6,0,0,0-2.66,1.09l-23.73,17.37A6,6,0,0,0,323.9,659l-2.58,10.88-8.06-1a11,11,0,0,0-11.73,7.15l-5,13.34a11.09,11.09,0,0,0,7.33,14.51l.18.05-.17.07a16.27,16.27,0,0,0-9.64,14.2l-.11,2.95-16.84,19.25a16.16,16.16,0,0,0-4,10.64V773.4a21.36,21.36,0,0,0,6.49,15.29l16,15.47A21.32,21.32,0,0,0,308.76,810l47.29,4.08-.18,1.49a16.19,16.19,0,0,0,6.4,15l8.36,6.21-.56,1.8A16.11,16.11,0,0,0,375,855.69l2.44,2.13c-1.95.16-3.91.29-5.88.36a141.05,141.05,0,0,1-96.74-33,6,6,0,0,0-7.73,9.18,152.9,152.9,0,0,0,98.66,35.93c2.09,0,4.19,0,6.29-.12A153.51,153.51,0,0,0,483.37,618.1ZM336.51,684.57a4.17,4.17,0,0,1,2.53-2.25L352.55,678l11.85,14.54L363,696.61a6,6,0,0,0,11.37,3.84l1.54-4.54A11,11,0,0,0,374,685.36l-3.19-3.91,10.57,8.06a6,6,0,0,0,6,.76l7.57-3.18,4.67,5.26a6,6,0,0,0,5,2l14.79-1.25.52,2.59a4.17,4.17,0,0,1-3.76,5l-25.68,2a10.61,10.61,0,0,0-9.75,11.17l-17-5.66a1.22,1.22,0,0,1-.82-1,13.27,13.27,0,0,0-13.05-11.13h-.33l-18.45.45Zm-24-3.66,8.15,1a11,11,0,0,0,4-.23l-6.29,13.9-10.19-2.93Zm194.66,41.66a141.08,141.08,0,0,1-41.33,94.29,142.66,142.66,0,0,1-12.13,10.82,56.82,56.82,0,0,0,5.62-10l27.57-63.76a6,6,0,0,0-6-8.36l-2.68.2,15-29.73a11.14,11.14,0,0,0-3.58-14.1l-1.31-.91.29-.46a4.16,4.16,0,0,1,6.44-.75l12.11,11.88c.13,3.63.13,7.26,0,10.92Zm0,0" transform="translate(-161 -512)")
	symbol(id="burger", viewbox='0 0 612 612')
		path(d='M16.051,180.818h579.898c8.874,0,16.051-6.176,16.051-13.909c0-7.678-7.288-13.909-16.051-13.909H16.051 C7.177,153,0,159.176,0,166.909C0,174.587,7.288,180.818,16.051,180.818z')
		path(d='M16.051,319.909h579.898c8.874,0,16.051-6.176,16.051-13.909c0-7.678-7.288-13.909-16.051-13.909H16.051 C7.177,292.091,0,298.267,0,306C0,313.678,7.288,319.909,16.051,319.909z')
		path(d='M16.051,459h579.898c8.874,0,16.051-6.176,16.051-13.909c0-7.678-7.288-13.909-16.051-13.909H16.051 C7.177,431.182,0,437.357,0,445.091C0,452.769,7.288,459,16.051,459z')
