#testimonial.testimonial-section

	.container
		h2.section-title Testimonial

	.testimonial-slider.owl-carousel

			// slide
			.container
				.slide
					.avatar
						img(src="http://i.pravatar.cc/110?img=1")
					.message Unmanned Vehicles University is one of the top institution of higher education in the United States for UAS. The training SkySkopes received with UVU, especially through the guidance of their Chief Trainer Gene Payson, was absolutely exemplary. SkySkopes takes pride in our numerous UAV pilot certifications and UVU's is one of our most cherished.
					.author Christopher Walsh, iEnvision, LLC

			// slide
			.container
				.slide
					.avatar
						img(src="http://i.pravatar.cc/110?img=2")
					.message Unmanned Vehicles University is one of the top institution of higher education in the United States for UAS. The training SkySkopes received with UVU, especially through the guidance of their Chief Trainer Gene Payson, was absolutely exemplary. SkySkopes takes pride in our numerous UAV pilot certifications and UVU's is one of our most cherished.
					.author Christopher Walsh, iEnvision, LLC

			// slide
			.container
				.slide
					.avatar
						img(src="http://i.pravatar.cc/110?img=3")
					.message Unmanned Vehicles University is one of the top institution of higher education in the United States for UAS. The training SkySkopes received with UVU, especially through the guidance of their Chief Trainer Gene Payson, was absolutely exemplary. SkySkopes takes pride in our numerous UAV pilot certifications and UVU's is one of our most cherished.
					.author Christopher Walsh, iEnvision, LLC