#what-is.what-is
	.container
		.row
			.col-sm-12
				h2.section-title What is ubiweb?
		.row
			.col-sm-12.col-md-7
				p We are your online partner, so you can keep doing what you do best for your business, while trusting us to have your website and online presence performing at its best. As a Ubiweb member you can choose a package that best suits your needs and benefit from a knowledgeable and helpful team that is only an email or call away.
			.col-sm-12.col-md-5
				img.what-is-img(src="assets/images/why-us.jpg")