.add-ons {

	@include media-sm {
		background: url('#{$img-url}add-ons.png') no-repeat right bottom;
		background-size: cover;
	}

	overflow: hidden;
	padding: 50px 0;
	background: url('#{$img-url}add-ons.png') no-repeat right bottom;
	background-size: auto 400px;

	.add-ons-image {
		@include media-sm {
			margin-top: 150px;
		}

		@include media-md {
			margin-top: 20px;
			max-width: 200%;
		}

		max-width: 150%;
		margin-left: -40%;
	}
}

.add-ons-list {
	margin: 0;
	padding: 0;
	border-left: 2px solid #eee;

	li {
		position: relative;
		list-style: none;
		display: block;
		padding-left: 70px;
		font-size: 18px;
		line-height: 40px;
		margin: 40px 0;

		svg {
			position: absolute;
			left: 50px;
			fill: #bebebe;
			top: 50%;
			transform: translate(-25px, -50%);
		}

		&::before {
			@include circle($size: 8px);
			background: $red;
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-5px, -3px);
		}

	}
}