.contacts-section {
	background: $red;
	color: $white;
	position: relative;

	.section-title {
		@include media-sm {
			margin-bottom: 1.5em;
		}

		@include media-md {
			margin-bottom: 2.75em;
		}

		margin-bottom: 1em;
	}

	> .container {
		@include media-sm {
			padding-top: 40px;
			padding-bottom: 85px;
		}

		padding-top: 0;
		padding-bottom: 50px;
	}

	h2 {
		color: $white;
	}

	.btn {
		@include media-xs {
			display: inline-block;
			width: auto;
		}

		margin-top: 40px;
		display: block;
		width: 100%;

	}
}

.map-wrapper {
	line-height: 0;

	> iframe {
		width: 100%;
		height: 480px;
	}

	@include media-sm {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 50%;
		background: $blue;
		top: 0;

		> iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}