$footer-bg: $black;
$footer-color: #fff;

.footer {
	background-color: $footer-bg;
	color: $footer-color;
	font-size: 13px;
	overflow: hidden;

	> .container {

		@include media-sm {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		margin-top: 25px;
		margin-bottom: 25px;

	}

	a {
		color: $footer-color;
	}

	.copyright {
		text-align: right;
	}
}