.hero {

	@include media-md {
		background: url('#{$img_url}hero.jpg') no-repeat center center;
		background-size: cover;

		.half {
			position: absolute;
			width: 50%;
			height: 100%;
			right: 0;
			background: url('#{$img_url}marker.png') no-repeat bottom right rgba($red, 0.75);
			background-size: auto 100%;
		}
	}

	overflow: hidden;
	background: $red;
	position: relative;
	color: $white;

	.hero-image {
		@include media-md {
			display: none;
		}
	}

	.hero-inner {
		@include media-md {
			background: transparent;
			margin-left: 0;
			margin-right: 0;
			position: relative;
			z-index: 5;
		}
		margin-left: -10px;
		margin-right: -10px;
		width: calc(100% + 20px);
		background: $red;
		padding: 15px;
		bottom: 60px;
		margin-bottom: 60px;
	}

	.hero-logo {
		@include media-md {
			left: 150px;
			top: 100px;
		}
		@media (orientation: landscape) and (max-width: 700px) {
			top: 15%;
		}
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;

		svg {
			width: 150px;
			height: 80px;
		}
	}

	.hero-wrap {
		@include media-lg {
			position: relative;
			align-items: center;
			padding-left: 15px;
			padding-right: 15px;
		}

		position: static;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		align-items: center;
	}

	p {
		@include media-md {
			font-size: 22px;
		}
		@include media-lg {
			font-size: 30px;
		}
		font-size: 16px;
	}

	h1 {
		@include media-md {
			font-size: 32px;
		}
		@include media-lg {
			font-size: 40px;
		}
		font-size: 22px;
		font-weight: 900;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 1.35em;

		mark {
			background: transparent;
		}

		span {
			color: $black;
		}

	}
}