.nav {
	@include media-lg {
		padding: 0;
	}

	padding: 10px 0;
	background: $black;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	&.fixed {
		position: fixed;
		top: 0;
		bottom: auto;
		z-index: 100;

		.nav-logo {
			margin-top: 0;
		}

		.logo {
			width: 100px;
		}
	}

	.nav-menu {
		@include media-lg {
			display: block;
		}

		display: none;
		margin: 30px 0;
		padding: 0;
		text-align: right;

		li {
			display: inline-block;
			margin: 0 10px;
		}

		a {
			display: block;
			font-size: 18px;
			color: #fff;

			&:hover {
				color: $blue;
			}

		}
	}

	.burger {
		@include media-lg {
			display: none;
		}
		fill: $white;
		float: right;
	}

	.nav-logo {
		@include media-lg {
			display: inline-block;
		}
		margin-top: -20px;
		display: none;

		svg {
			display: block;
			width: 150px;
			height: 80px;
		}
	}
}

.menu-open.fixed .nav-menu {
	position: fixed;
	bottom: auto;
	top: 59px;
}

.menu-open {

	[class^="col-"] {
		position: static;
	}

	.nav-menu {
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		background: #202020;
		z-index: 100;
		margin: 0;
		padding: 15px 0;
		top: auto;
		bottom:	49px;
	}

	li {
		display: block;
		width: 100%;

	}

	a  {
		font-size: 18px;
		padding: 15px 0;
		text-align: center;
	}
}

