.owl-dots {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);

	> .owl-dot {
		@include media-sm {
			@include circle($size: 16px);
		}

		@include circle($size: 10px);

		background: $disabled;
		display: inline-block;
		margin: 0 5px;

		&.active {
			background: $blue;
		}

	}
}

.owl-nav {
	width: 100%;
	top: 50%;
	max-width: 1140px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	z-index: 5;

	.owl-prev,
	.owl-next {
		@include circle($size: 56px);
		background: $blue;
		top: 0;
		position: absolute;
		overflow: hidden;
		transition: 0.3s opacity;

		&.disabled:hover,
		&.disabled {
			background: $disabled;
		}

		&:hover {
			background: $dark-blue;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			fill: $white;
			width: 20px;
		}
	}

	.owl-prev {
		transform: translateX(-50%);
		left: 0;
	}

	.owl-next {
		right: 0;
		transform: translateX(50%);
	}

}