.mount-wrapper {
	background: url('#{$img_url}/packages.png') no-repeat center bottom;
	background-size: cover;
}

.packages-section {
	padding: 70px 0 50px;
}

.package {

	@include media-sm {
		padding: 20px;
	}

	@include media-md {
		max-width: 1000px;
		padding-bottom: 60px;
	}

	padding: 10px;
	box-shadow: 0 0 30px rgba($black, 0.5);
	background: $white;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;

	&.package-best {
		@include media-sm {
			padding: 40px 30px;
			margin-top: -20px;
		}

		@include media-md {
			padding-bottom: 80px;
		}
		padding: 30px 10px;
		background: $red;
		color: $white;
		position: relative;
		z-index: 5;

		.package-header {
			color: $white;
		}

	}

	.package-header {
		color: $red;
		padding: 20px 0;
		margin-bottom: 20px;
		border-bottom: 1px solid #d8d8d8;

		h3 {
			@include media-sm {
				font-size: 30px;
			}

			margin: 0;
			font-size: 24px;
		}
	}

	.package-price {
		@include media-md {
			margin-bottom: 60px;
		}
		margin-top: 50px;
		margin-bottom: 30px;
		font-size: 50px;

		sup {
			font-size: 20px;
			top: -1em;
			margin-right: 5px;
		}

		span {
			margin-top: 20px;
			font-size: 14px;
			display: block;
		}
	}

	.package-list {
		margin: 0;
		padding: 0;
		font-size: 18px;

		li {
			list-style-type: none;
			margin: 0.5em 0;
		}
	}
}

@include media-sm {
	//TODO: move it to another place
	.no-gutter > [class*='col-'] {
		padding-right: 0;
		padding-left: 0;
	}
}

