.slider {
	background: url('#{$img-url}garantee.png') no-repeat 80% bottom fixed #f8f8f8;
	background-size: 400px auto;

	.slide-item {
		overflow: hidden;
		font-size: 16px;
		line-height: 1.75;
		text-align: center;
	}

	.owl-nav {
		@include media-lg {
			transform: translate(-50%, -40px);
			max-width: 1280px;
		}

		transform: translate(-50%, 10px);

	}

	.owl-prev,
	.owl-next {
		@include media-lg {
			.owl-prev {
				transform: translateX(-50%);
			}

			.owl-next {
				transform: translateX(50%);
			}
		}
		transform: translate(0);
	}

	.slide-right,
	.slide-left {
		@include media-md {
			padding-top: 0;
			padding-bottom: 0;
			min-height: 650px;
		}
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.slide-right {
		display: flex;
		align-items: center;
	}

	.slide-left {

		@include media-md {
			display: flex;
			align-items: center;

			&::before {
				position: absolute;
				height: 100%;
				width: 9000px;
				background: $black;
				top: 0;
				content: '';
				right: 100%;
				margin-right: -2px;
			}
		}
		background: $black;
		position: relative;

		img {
			@include media-md {
				max-width: 100%;
			}
			max-width: 60%;
			display: block;
			margin: auto;

		}
	}
}