.testimonial-slider {
	position: relative;
	z-index: 2;

	&::before {
		@include media-sm {
			font-size: 120px;
			top: -40px;
		}

		@include media-lg {
			font-size: 150px;
			top: -60px;
		}

		content: 'our clients';
		width: 100%;
		text-align: center;
		z-index: 0;
		position: absolute;
		font-size: 50px;
		left: 50%;
		top: 0;
		line-height: 1;
		transform: translateX(-50%);
		white-space: nowrap;
		font-weight: bold;
		text-transform: uppercase;
		color: #f2f2f2;

	}
}

.testimonial-section {
	background: #f8f8f8;

	.section-title {
		@include media-sm {
			margin-top: 30px;
		}

		@include media-lg {
			margin-top: 50px;
		}

		text-align: center;
		position: relative;
		margin-bottom: 0;
		z-index: 5;
	}

	.owl-stage-outer {
		@include media-sm {
			padding: 60px 0 120px;
		}

		@include media-lg {
			padding: 40px 0 120px;
		}

		padding: 40px 0 100px;
		z-index: 2;
	}

	.owl-dots {
		bottom: 40px;
	}

	.owl-nav {
		@include media-md {
			top: 50%;
			max-width: 1230px;

			.owl-next,
			.owl-prev {
				transform: translateY(-80px);
			}
		}

		max-width: 100%;
		top: auto;
		bottom: 40px;


		.owl-next {
			transform: translate(-15px, -40px);
		}

		.owl-prev {
			transform: translate(15px, -40px);
		}

	}
}

.slide {
	@include media-sm {
		padding: 30px;
	}

	text-align: center;
	box-shadow: 0 0 50px rgba($black, 0.5);
	padding: 15px;
	width: 100%;
	background: #fff;

	.avatar {
		@include circle($size: 155px);
		display: block;
		overflow: hidden;
		margin: 10px auto 0;

		> img {
			max-width: 100%;
			height: auto;
		}
	}

	.message {
		@include media-sm {
			margin: 50px auto 0;
		}

		margin: 30px auto 0;
		font-size: 16px;
		max-width: 950px;
		line-height: 1.33;
	}

	.author {
		@include media-sm {
			margin-top: 50px;
		}

		margin-top: 30px;
		color: $red;
		font-size: 16px;
		font-style: italic;
	}
}