.what-is {
	@include media-sm {
		margin-top: 30px;
	}
	@include media-md {
		margin-top: 50px;
	}

	padding-bottom: 30px;

	.section-title {
		@include media-sm {
			margin-bottom: 30px;
		}

		@include media-md {
			margin-bottom: 50px;
		}

		text-align: center;
		margin: 20px 0;
		position: relative;
		z-index: 5;
	}

	p {
		@include media-sm {
			font-size: 18px;
		}

		@include media-md {
			font-size: 18px;
			line-height: 1.7;
		}

		font-size: 13px;
		line-height: 1.35;
	}

	.what-is-img {
		@include media-sm {
			margin-top: 40px;
		}

		@include media-md {
			margin-top: -70px;
		}

		display: block;
		margin: 0 auto;

	}

}