.why-uiweb {
	text-align: center;

	.section-title {
		@include media-sm {
			margin-top: -70px;
		}
	}

	h4 {
		font-size: 16px;
	}

	.btn {
		@include button;
		@include media-sm {
			margin: 30px 0;
		}
		@include media-md {
			margin: 50px 0;
		}

		margin: 20px 0 40px;
		border: 2px solid $red;
		color: $black;

		&:hover {
			background: $red;
			color: $white;
		}
	}

	svg {
		@include media-sm {
			margin: 40px 0 20px;
		}
		@include media-md {
			margin: 70px 0 30px;
		}

		margin-top: 20px;
		fill: $blue;
	}
}