doctype html
html(lang="en")
	head

		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title UbiWeb

		meta(name="description", content="")
		meta(name="author", content="")

		include includes/_head.pug
	body
		.wrapper
			include includes/_hero.pug
			include includes/_what-is-ubiweb.pug
			.mount-wrapper
				include includes/_why-ubiweb.pug
				include includes/_packages.pug
			include includes/_slider.pug
			include includes/_add-ons.pug
			include includes/_testimonial.pug
			include includes/_contact.pug
			include includes/_footer.pug
			include includes/_sprite.pug

		include includes/_foot.pug