/**
 *  Config
 */

$min-width: 320px;


$font-size: 14px;
$line-height: 1.5em;
$font-family: Prompt, Helvetica, Arial, sans-serif;

$color: #494949;

$img-url: '../assets/images/';


$red: #e64138;
$blue: #6ed3e5;
$dark-blue: #7cabb4;
$black: #191919;
$white: #fff;

$h2-color: #5d5d5d;

$disabled: #d7d7d7;