/**
 *  Body
 */

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $white;
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

}

.clear {
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}

.clearfix {

    z-index: 1;

    &::after {
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        content: '';
    }

}

img {
    max-width: 100%;
    height: auto;
}