.form-control {
	background: none;
	border-radius: 0;
	color: $white;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	box-shadow: none;
	font-size: 14px;
	padding-left: 0;
	line-height: 38px;
	height: 38px;

	&:focus {
		box-shadow: none;
		outline: none;
		border-bottom-color: $blue;
	}
}

textarea {
	min-height: 140px;
	resize: vertical;
}

.form-control::placeholder {
	color: $white;
	opacity: 0.9;
}


.form [type='submit'] {
	@include button;
	background: $blue;
	color: #296671;

	&:hover {
		background: $dark-blue;
		color: $white;
	}
}


