@mixin circle($size: 100px) {
	width: $size;
	height: $size;
	border-radius: $size;
}

@mixin button {
	border-radius: 50px;
	font-size: 19px;
	font-weight: 500;
	transition: 0.3s color, 0.3s background;
	padding: 0.75em 15px;
	text-transform: capitalize;
	min-width: 230px;
	text-align: center;
}


@mixin media-xs {
	@media only screen and (min-width: 480px) {
		@content;
	}
}


@mixin media-sm {
	@media only screen and (min-width: 768px) {
		@content;
	}
}

@mixin media-md {
	@media only screen and (min-width: 992px) {
		@content;
	}
}

@mixin media-lg {
	@media only screen and (min-width: 1200px) {
		@content;
	}
}