h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: 600;

	&::after {
		@include media-sm {
			@include circle($size: 12px);
			transform: translateY(-20px);
			margin-left: 15px;
		}
		@include circle($size: 8px);

		content: '';
		display: inline-block;
		background: $blue;
		transform: translateY(-10px);
		margin-left: 5px;

	}
}

h1 {
	font-size: 44px;
}

h2 {
	@include media-sm {
		font-size: 35px;
	}

	font-weight: 600;
	font-size: 24px;
	color: $h2-color;
}
